{{ form_start(form2) }}
    {{ form_widget(form2) }}
<div class="row justify-content-center">
    <button class="btn text-primary">{{ button_label|default('Rechercher') }}</button>
</div>
{{ form_end(form2) }}